# 1. List
Trong Python, list (danh s√°ch) l√† m·ªôt ki·ªÉu d·ªØ li·ªáu r·∫•t ph·ªï bi·∫øn v√† quan tr·ªçng. N√≥ cho ph√©p b·∫°n l∆∞u tr·ªØ nhi·ªÅu gi√° tr·ªã trong m·ªôt bi·∫øn duy nh·∫•t. Danh s√°ch c√≥ th·ªÉ ch·ª©a c√°c ph·∫ßn t·ª≠ c√≥ ki·ªÉu d·ªØ li·ªáu kh√°c nhau v√† c√≥ th·ªÉ thay ƒë·ªïi (mutable). D∆∞·ªõi ƒë√¢y l√† c√°c th√¥ng tin chi ti·∫øt v·ªÅ list trong Python:  
Trong Python, sequence (chu·ªói tu·∫ßn t·ª±) l√† m·ªôt t·∫≠p h·ª£p c√°c ph·∫ßn t·ª≠ ƒë∆∞·ª£c s·∫Øp x·∫øp c√≥ ch·ªâ m·ª•c. M·ªôt s·ªë ki·ªÉu d·ªØ li·ªáu ph·ªï bi·∫øn thu·ªôc nh√≥m sequence bao g·ªìm:

* Chu·ªói (str)  
* Danh s√°ch (list)  
* Tuple (tuple)  
* D√£y s·ªë (range)

## C√∫ ph√°p

#### a.C·∫•u tr√∫c c∆° b·∫£n c·ªßa List
    * Kh·ªüi t·∫°o List: Danh s√°ch ƒë∆∞·ª£c t·∫°o ra b·∫±ng c√°ch s·ª≠ d·ª•ng d·∫•u ngo·∫∑c vu√¥ng [], v√† c√°c ph·∫ßn t·ª≠ trong danh s√°ch ƒë∆∞·ª£c ngƒÉn c√°ch nhau b·ªüi d·∫•u ph·∫©y.

In [2]:
days_of_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

In [4]:
months_of_year = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"]

In [8]:
natural_numbers = range(1, 101)  # S·ªë t·ª± nhi√™n t·ª´ 1 ƒë·∫øn 100

In [9]:
tea_making_steps = ["ƒêun n∆∞·ªõc", "Cho tr√† v√†o ·∫•m", "R√≥t n∆∞·ªõc n√≥ng v√†o", "Ch·ªù tr√† ng·∫•m", "R√≥t tr√† ra ch√©n", "Th∆∞·ªüng th·ª©c"]

In [10]:
education_levels = ["M·∫´u gi√°o", "Ti·ªÉu h·ªçc", "Trung h·ªçc c∆° s·ªü", "Trung h·ªçc ph·ªï th√¥ng", "ƒê·∫°i h·ªçc"]

In [11]:
book_chapters = ["Ch∆∞∆°ng 1: Gi·ªõi thi·ªáu", "Ch∆∞∆°ng 2: C·∫•u tr√∫c d·ªØ li·ªáu", "Ch∆∞∆°ng 3: Thu·∫≠t to√°n", "Ch∆∞∆°ng 4: ·ª®ng d·ª•ng"]

In [12]:
album_tracks = ["Song 1", "Song 2", "Song 3", "Song 4"]

In [13]:
life_stages = ["S∆° sinh", "Tr·∫ª em", "Thi·∫øu ni√™n", "Thanh ni√™n", "Tr∆∞·ªüng th√†nh", "Gi√†"]

In [14]:
my_list = [1, 2, 3, 4, 5]

In [15]:
my_list = [1, 2.5, 3, 4,"hello",True, 5,[5,4,3]]

In [16]:
my_list[-1]

[5, 4, 3]

In [17]:
my_list[7]

[5, 4, 3]

In [18]:
job_list = [
    "Product Manager", "Financial Analyst", "Credit Analyst",
    "Marketing Manager", "Treasury Analyst", "Risk Manager",
    "Loan Ofice", "Sales Executive", "Bank Teller",
    "Digital Marketing Specialist"
]

In [19]:
job_list

['Product Manager',
 'Financial Analyst',
 'Credit Analyst',
 'Marketing Manager',
 'Treasury Analyst',
 'Risk Manager',
 'Loan Ofice',
 'Sales Executive',
 'Bank Teller',
 'Digital Marketing Specialist']

In [17]:
print(job_list)

['Product Manager', 'Financial Analyst', 'Credit Analyst', 'Marketing Manager', 'Treasury Analyst', 'Risk Manager', 'Loan Ofice', 'Sales Executive', 'Bank Teller', 'Digital Marketing Specialist']

In [112]:
# # Convert the list to a DataFrame 
# import pandas as pd
# df = pd.DataFrame(job_list, columns=["Job list"]) 
# display(df)

    * Danh s√°ch c√≥ th·ªÉ ch·ª©a c√°c ki·ªÉu d·ªØ li·ªáu kh√°c nhau: B·∫°n c√≥ th·ªÉ l∆∞u tr·ªØ nhi·ªÅu ki·ªÉu d·ªØ li·ªáu trong c√πng m·ªôt danh s√°ch, v√≠ d·ª•: s·ªë nguy√™n, chu·ªói, danh s√°ch con, v.v.

In [21]:
mixed_list = [1, "Hello", 3.14, [1, 2, 3],False] # M·ªôt list ch∆∞a nhi·ªÅu ki·ªÉu d·ªØ li·ªáu kh√°c nhau v√† ch·ª©a list con
mixed_list

[1, 'Hello', 3.14, [1, 2, 3], False]

## Truy xu·∫•t ph·∫ßn t·ª≠

In [22]:
job_list

['Product Manager',
 'Financial Analyst',
 'Credit Analyst',
 'Marketing Manager',
 'Treasury Analyst',
 'Risk Manager',
 'Loan Ofice',
 'Sales Executive',
 'Bank Teller',
 'Digital Marketing Specialist']

In [26]:
# Truy c·∫≠p ph·∫ßn t·ª≠ trong List: B·∫°n c√≥ th·ªÉ truy c·∫≠p ph·∫ßn t·ª≠ trong danh s√°ch th√¥ng qua ch·ªâ s·ªë (index). Ch·ªâ s·ªë trong Python b·∫Øt ƒë·∫ßu t·ª´ 0 k·∫øt th√∫c l√† n-1.

print(job_list[1]) # Financial Analyst

# Truy c·∫≠p ph·∫ßn t·ª≠ t·ª´ cu·ªëi danh s√°ch: B·∫°n c√≥ th·ªÉ s·ª≠ d·ª•ng ch·ªâ s·ªë √¢m ƒë·ªÉ truy c·∫≠p c√°c ph·∫ßn t·ª≠ t·ª´ cu·ªëi danh s√°ch.

print(job_list[-2]) # Bank Teller

# C·∫Øt l√°t c√°c ph·∫ßn t·ª≠ (Slicing)
print(job_list[5:8])

# C·∫Øt l√°t c√°c ph·∫ßn t·ª≠ (Slicing) theo b∆∞·ªõc nh·∫£y
print(job_list[5:8:2])

Financial Analyst
Bank Teller
['Risk Manager', 'Loan Ofice', 'Sales Executive']
['Risk Manager', 'Sales Executive']

## C·∫≠p nh·∫≠t ph·∫ßn t·ª≠

In [22]:
# C·∫≠p nh·∫≠t ph·∫ßn t·ª≠

job_list[6] = "Loan Officer"
print(job_list)

['Product Manager', 'Financial Analyst', 'Credit Analyst', 'Marketing Manager', 'Treasury Analyst', 'Risk Manager', 'Loan Officer', 'Sales Executive', 'Bank Teller', 'Digital Marketing Specialist']

In [117]:
# job_list_1 = """
#     ['Product Manager', 'Financial Analyst', 'Credit Analyst', 
#     'Marketing Manager', 'Treasury Analyst', 'Risk Manager', 'Loan Officer',
#     'Sales Executive', 'Bank Teller', 'Digital Marketing Specialist' ]
# """

# print(job_list_1)

## To√°n t·ª≠ c·ªông

In [27]:
# To√°n t·ª≠ c·ªông

job_list_1 = [
    "Product Manager", "Financial Analyst", "Credit Analyst"
]
job_list_2 = [
    "Compliance Officer", "Branch Manager"
]
job_list_3 = job_list_1 + job_list_2
print(job_list_3)

['Product Manager', 'Financial Analyst', 'Credit Analyst', 'Compliance Officer', 'Branch Manager']

## To√°n t·ª≠ nh√¢n

In [28]:
# To√°n t·ª≠ nh√¢n

danh_sach_luong_toi_thieu = [20000000, 25000000]
print(danh_sach_luong_toi_thieu * 2)

[20000000, 25000000, 20000000, 25000000]

## To√°n t·ª≠ th√†nh ph·∫ßn ( in )

In [30]:
# To√°n t·ª≠ th√†nh ph·∫ßn (IN)

job = "Marketing Manager"
print(job in job_list)

False

In [29]:
print("Marketing Manager" in job_list)

True

In [33]:
job = "Loan Ofice"
print(job in job_list)

True

## Ph∆∞∆°ng th·ª©c chung

### len : Tr·∫£ v·ªÅ s·ªë l∆∞·ª£ng ph·∫ßn t·ª≠ trong list

In [35]:
# Ph∆∞∆°ng th·ª©c chung (LEN)

print(f"S·ªë l∆∞·ª£ng c√¥ng vi·ªác: {len(job_list)}")

S·ªë l∆∞·ª£ng c√¥ng vi·ªác: 10

### max/ min : Tr·∫£ v·ªÅ ph·∫ßn t·ªß l·ªõn nh·∫•t v√† nh·ªè nh·∫•t

In [36]:
# Ph∆∞∆°ng th·ª©c chung MAX/ MIN

danh_sach_luong_manager = [38000000, 33000000, 40000000, 30000000, 37000000]

print(f"L∆∞∆°ng cao nh·∫•t: {max(danh_sach_luong_manager)}")
print(f"L∆∞∆°ng th·∫•p nh·∫•t: {min(danh_sach_luong_manager)}")

L∆∞∆°ng cao nh·∫•t: 40000000
L∆∞∆°ng th·∫•p nh·∫•t: 30000000

In [37]:
# A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
max(job_list)

'Treasury Analyst'

In [33]:
min(job_list)

'Bank Teller'

### sum

In [34]:
# Ph∆∞∆°ng th·ª©c chung SUM - Ch·ªâ √°p d·ª•ng cho list c√°c ph·∫ßn t·ª≠ c√≥ ki·ªÉu s·ªë

danh_sach_luong_manager = [38000000, 33000000, 40000000, 30000000, 37000000]

print(f"T·ªïng l∆∞∆°ng c·ªßa c√°c Manager: {sum(danh_sach_luong_manager)}")
print(f"L∆∞∆°ng trung b√¨nh c·ªßa c√°c Manager: \
      {sum(danh_sach_luong_manager) / len(danh_sach_luong_manager)}")

T·ªïng l∆∞∆°ng c·ªßa c√°c Manager: 178000000
L∆∞∆°ng trung b√¨nh c·ªßa c√°c Manager:       35600000.0

## Ph∆∞∆°ng th·ª©c cho list

In [36]:
job_list

['Product Manager',
 'Financial Analyst',
 'Credit Analyst',
 'Marketing Manager',
 'Treasury Analyst',
 'Risk Manager',
 'Loan Officer',
 'Sales Executive',
 'Bank Teller',
 'Digital Marketing Specialist']

### append

In [38]:
# Ph∆∞∆°ng th·ª©c cho list (append)

job_list.append("SEO Specialist")
print(job_list)

['Product Manager', 'Financial Analyst', 'Credit Analyst', 'Marketing Manager', 'Treasury Analyst', 'Risk Manager', 'Loan Ofice', 'Sales Executive', 'Bank Teller', 'Digital Marketing Specialist', 'SEO Specialist']

### insert

In [47]:
job_list.insert(1, "Market Research Analyst")
print(job_list)

['Product Manager', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Marketing Manager', 'Treasury Analyst', 'Risk Manager', 'Loan Ofice', 'Sales Executive', 'Bank Teller', 'Digital Marketing Specialist', 'SEO Specialist']

### pop

In [46]:
# Ph∆∞∆°ng th·ª©c cho list (pop) d√πng cho index c·ªßa list

job_list.pop(5)
print(job_list)

['Product Manager', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Marketing Manager', 'Treasury Analyst', 'Risk Manager', 'Loan Ofice', 'Sales Executive', 'Bank Teller', 'Digital Marketing Specialist', 'SEO Specialist']

In [52]:
job_list

['Product Manager',
 'Market Research Analyst',
 'Market Research Analyst',
 'Market Research Analyst',
 'Market Research Analyst',
 'Market Research Analyst',
 'Marketing Manager',
 'Treasury Analyst',
 'Risk Manager',
 'Loan Ofice',
 'Sales Executive',
 'Bank Teller',
 'Digital Marketing Specialist']

### remove

In [53]:
# Ph∆∞∆°ng th·ª©c cho list (remove) d√πng cho t√™n ph·∫ßn t·ª≠ c·ªßa list
job_list.remove("SEO Specialist")
print(job_list)

ValueError: list.remove(x): x not in list

In [54]:
job_list

['Product Manager',
 'Market Research Analyst',
 'Market Research Analyst',
 'Market Research Analyst',
 'Market Research Analyst',
 'Market Research Analyst',
 'Marketing Manager',
 'Treasury Analyst',
 'Risk Manager',
 'Loan Ofice',
 'Sales Executive',
 'Bank Teller',
 'Digital Marketing Specialist']

### reverse

In [56]:
# Ph∆∞∆°ng th·ª©c cho list (reverse) ƒë·∫£o ng∆∞·ª£c list

job_list.reverse()
print(job_list)

['Product Manager', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Marketing Manager', 'Treasury Analyst', 'Risk Manager', 'Loan Ofice', 'Sales Executive', 'Bank Teller', 'Digital Marketing Specialist']

### sort

In [58]:
# Ph∆∞∆°ng th·ª©c cho list (sort) --- ch·ªØ : s·∫Øp x·∫øp tƒÉng d·∫ßn

job_list.sort()
print(job_list)

# Gi·∫£m d·∫ßn 

job_list.sort(reverse=True)
print(job_list)

['Bank Teller', 'Digital Marketing Specialist', 'Loan Ofice', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Marketing Manager', 'Product Manager', 'Risk Manager', 'Sales Executive', 'Treasury Analyst']
['Treasury Analyst', 'Sales Executive', 'Risk Manager', 'Product Manager', 'Marketing Manager', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Loan Ofice', 'Digital Marketing Specialist', 'Bank Teller']

### H√†m sorted t·∫°o ra danh s√°ch m·ªõi

In [60]:
# S·ª≠ d·ª•ng sorted() ƒë·ªÉ t·∫°o danh s√°ch m·ªõi
# TƒÉng d·∫ßn
ascending_list = sorted(job_list)
print("TƒÉng d·∫ßn:", ascending_list)

# Gi·∫£m d·∫ßn 
# S·ª≠ d·ª•ng sorted() v·ªõi reverse=True
descending_list = sorted(job_list, reverse=True)
print("Gi·∫£m d·∫ßn:", descending_list)

TƒÉng d·∫ßn: ['Bank Teller', 'Digital Marketing Specialist', 'Loan Ofice', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Marketing Manager', 'Product Manager', 'Risk Manager', 'Sales Executive', 'Treasury Analyst']
Gi·∫£m d·∫ßn: ['Treasury Analyst', 'Sales Executive', 'Risk Manager', 'Product Manager', 'Marketing Manager', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Market Research Analyst', 'Loan Ofice', 'Digital Marketing Specialist', 'Bank Teller']

In [62]:
# Ph∆∞∆°ng th·ª©c cho list (sort) --- s·ªë

danh_sach_luong_giam_dan = [18000000, 33000000, 24000000, 10000000, 8000000]
danh_sach_luong_giam_dan.sort(reverse=True)

print(danh_sach_luong_giam_dan)

[33000000, 24000000, 18000000, 10000000, 8000000]

In [63]:
job_list

['Treasury Analyst',
 'Sales Executive',
 'Risk Manager',
 'Product Manager',
 'Marketing Manager',
 'Market Research Analyst',
 'Market Research Analyst',
 'Market Research Analyst',
 'Market Research Analyst',
 'Market Research Analyst',
 'Loan Ofice',
 'Digital Marketing Specialist',
 'Bank Teller']

### index

In [64]:
# Ph∆∞∆°ng th·ª©c cho list (index l·∫•y ra v·ªã tr√≠ index c·ªßa ph·∫ßn t·ª≠ ch·ªâ ƒëiijnh

print(job_list.index("Risk Manager"))

2

### count

In [65]:
# Ph∆∞∆°ng th·ª©c cho list (count) ƒë·∫øm s·ªë l·∫ßn xu·∫•t hi·ªán c·ªßa m·ªôt ph·∫ßn t·ª≠ c·ª• th·ªÉ trong list 

danh_sach_luong_count = [18000000, 33000000, 24000000,10000000, 18000000 ,8000000,18000000]
danh_sach_luong_count.count(18000000)

3

### del

In [70]:
# Ph∆∞∆°ng th·ª©c cho list (del) xo√° t·∫°i vi tr√≠ index ==> del tenlist[index]

del job_list[6]
print(job_list)

['Treasury Analyst', 'Sales Executive', 'Risk Manager', 'Product Manager', 'Marketing Manager', 'Market Research Analyst', 'Digital Marketing Specialist', 'Bank Teller']

### clear

In [71]:
# Ph∆∞∆°ng th·ª©c cho list (clear) - xo√° tr·∫Øng t·∫•t c·∫£ c√°c ph·∫ßn t·ª≠ trong list

job_list.clear()
print(job_list)

[]

## List Comprehension  
List Comprehension l√† m·ªôt c√∫ ph√°p ng·∫Øn g·ªçn v√† m·∫°nh m·∫Ω trong Python ƒë·ªÉ t·∫°o danh s√°ch m·ªõi t·ª´ m·ªôt danh s√°ch ho·∫∑c b·∫•t k·ª≥ iterable n√†o (chu·ªói, tuple, range, dictionary, v.v.).  
Thay v√¨ s·ª≠ d·ª•ng v√≤ng l·∫∑p for truy·ªÅn th·ªëng ƒë·ªÉ th√™m ph·∫ßn t·ª≠ v√†o danh s√°ch, ta c√≥ th·ªÉ vi·∫øt g·ªçn l·∫°i b·∫±ng m·ªôt d√≤ng duy nh·∫•t v·ªõi List Comprehension.  

new_list = [expression for item in iterable if condition]  

* expression: Bi·ªÉu th·ª©c x·ª≠ l√Ω ho·∫∑c bi·∫øn ƒë·ªïi ph·∫ßn t·ª≠.  
* item: Ph·∫ßn t·ª≠ l·∫•y t·ª´ iterable.  
* iterable: Ngu·ªìn d·ªØ li·ªáu c√≥ th·ªÉ l·∫∑p qua (list, tuple, range, string...).  
* if condition (t√πy ch·ªçn): ƒêi·ªÅu ki·ªán l·ªçc ph·∫ßn t·ª≠ (ch·ªâ th√™m ph·∫ßn t·ª≠ n·∫øu th·ªèa m√£n ƒëi·ªÅu ki·ªán).

In [43]:
# C√°ch th√¥ng th∆∞·ªùng:
numbers = []
for i in range(10):
    numbers.append(i)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
# D√πng List Comprehension:
numbers = [i for i in range(10)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
# Bi·∫øn ƒë·ªïi c√°c ph·∫ßn t·ª≠ trong danh s√°ch
danh_sach_luong_sales_executive = [18000000, 10000000, 8000000,12000000, 14000000]
danh_sach_luong_moi = [round(luong + luong * .15) for luong in danh_sach_luong_sales_executive]

print(danh_sach_luong_moi)

[20700000, 11500000, 9200000, 13800000, 16100000]

In [54]:
danh_sach_luong = [18000000, 10000000, 8000000, 12000000, 14000000]
danh_sach_luong_10tr = [luong for luong in danh_sach_luong if luong > 12000000 ]

print(danh_sach_luong_10tr)

[18000000, 14000000]

In [73]:
# L·ªçc s·ªë ch·∫µn t·ª´ danh s√°ch
# C√°ch th√¥ng th∆∞·ªùng:
even_numbers = []
for i in range(10):
    if i % 2 == 0:
        even_numbers.append(i)
print(even_numbers)

# D√πng List Comprehension:
even_numbers = [i for i in range(10) if i % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [74]:
# L·∫•y danh s√°ch k√Ω t·ª± trong chu·ªói
letters = [char for char in "Python"]
print(letters)

['P', 'y', 't', 'h', 'o', 'n']

In [75]:
# Chuy·ªÉn t·∫•t c·∫£ ch·ªØ c√°i trong danh s√°ch th√†nh ch·ªØ hoa 
words = ["hello", "world", "python"]
upper_words = [word.upper() for word in words]
print(upper_words)

['HELLO', 'WORLD', 'PYTHON']

In [76]:
# L·ªìng nhi·ªÅu v√≤ng l·∫∑p trong List Comprehension 
# D√πng v√≤ng l·∫∑p l·ªìng nhau ƒë·ªÉ t·∫°o danh s√°ch ch·ª©a c√°c c·∫∑p s·ªë (x, y) 

pairs = [(x, y) for x in range(3) for y in range(3)]
print(pairs)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

### So s√°nh List Comprehension v√† v√≤ng l·∫∑p for

| **Ti√™u ch√≠**       | **V√≤ng l·∫∑p for**                | **List Comprehension**     |
|--------------------|--------------------------------|----------------------------|
| **ƒê·ªô d√†i code**    | D√†i h∆°n                        | Ng·∫Øn g·ªçn h∆°n               |
| **Hi·ªáu su·∫•t**      | Ch·∫≠m h∆°n m·ªôt ch√∫t             | Nhanh h∆°n                   |
| **ƒê·ªô d·ªÖ ƒë·ªçc**      | R√µ r√†ng h∆°n v·ªõi logic ph·ª©c t·∫°p | T·ªët h∆°n v·ªõi logic ƒë∆°n gi·∫£n  |

In [78]:
# List Comprehension v·ªõi h√†m 
# √Åp d·ª•ng m·ªôt h√†m v√†o t·ª´ng ph·∫ßn t·ª≠ c·ªßa danh s√°ch. 
def square(x):
    return x ** 2

squares = [square(i) for i in range(6)]
print(squares)

[0, 1, 4, 9, 16, 25]

#### Khi n√†o kh√¥ng n√™n d√πng List Comprehension?  

* Khi ƒëo·∫°n code qu√° ph·ª©c t·∫°p, l√†m gi·∫£m ƒë·ªô d·ªÖ ƒë·ªçc.  
* Khi c·∫ßn nhi·ªÅu b∆∞·ªõc x·ª≠ l√Ω b√™n trong v√≤ng l·∫∑p.

# 2. Dictionary  

Dictionary (t·ª´ ƒëi·ªÉn) l√† m·ªôt ki·ªÉu d·ªØ li·ªáu c√≥ c·∫•u tr√∫c key-value (kh√≥a - gi√° tr·ªã) trong Python. N√≥ t∆∞∆°ng t·ª± nh∆∞ b·∫£ng tra c·ª©u, n∆°i m·ªói key l√† duy nh·∫•t v√† tr·ªè ƒë·∫øn m·ªôt value.  

üõ† ƒê·∫∑c ƒëi·ªÉm ch√≠nh c·ªßa dictionary:  

D·ªØ li·ªáu ƒë∆∞·ª£c l∆∞u d∆∞·ªõi d·∫°ng key: value.  
Key ph·∫£i l√† duy nh·∫•t v√† b·∫•t bi·∫øn (immutable) nh∆∞ string, number, tuple.  
Value c√≥ th·ªÉ l√† b·∫•t k·ª≥ ki·ªÉu d·ªØ li·ªáu n√†o, n√≥ c√≥ th·ªÉ tr√πng nhau v√† c·∫≠p nh·∫≠t ƒë∆∞·ª£c (string, number, list, tuple, dictionary...).  
Dictionary kh√¥ng c√≥ th·ª© t·ª± tr∆∞·ªõc Python 3.7. T·ª´ Python 3.7 tr·ªü ƒëi, dictionary gi·ªØ nguy√™n th·ª© t·ª± ch√®n. ( Th·ª© t·ª± t·∫°o ra c·∫∑p key - value kh√¥ng c·ªë ƒë·ªãnh trong python 3.7 v·ªÅ tr∆∞·ªõc)

#### Khai b√°o v√† kh·ªüi t·∫°o Dictionary  
Kh·ªüi t·∫°o b·∫±ng d·∫•u {} ho·∫∑c dict()

In [83]:
# C√°ch 1: S·ª≠ d·ª•ng d·∫•u ngo·∫∑c nh·ªçn {}
student = {"name": "John", "age": 20, "city": "New York"}
print(student)

# C√°ch 2: S·ª≠ d·ª•ng h√†m dict()
person = dict(name="Alice", age=25, city="London")
print(person)

person = { 'name':"Alice", 'age':25, 'city':"London" }
print(person)

{'name': 'John', 'age': 20, 'city': 'New York'}
{'name': 'Alice', 'age': 25, 'city': 'London'}
{'name': 'Alice', 'age': 25, 'city': 'London'}

In [85]:
job_dictionary = {
    'Bank Teller': [12000000, 15000000],
    'Financial Analyst': [15000000, 20000000],
    'Investment Banker': [20000000, 26000000],
    'Risk Manager': [30000000, 33000000],
    'Credit Analyst': [15000000, 18000000],
}

## Truy xu·∫•t ph·∫ßn t·ª≠

In [87]:
# Truy xu·∫•t ph·∫ßn t·ª≠
# Truy c·∫≠p b·∫±ng key  
print(job_dictionary['Financial Analyst'])

# D√πng .get() ƒë·ªÉ tr√°nh l·ªói
print(job_dictionary.get('Risk Manager'))

print(job_dictionary.get("Sales Executive", "Kh√¥ng t√¨m th·∫•y key"))  # Kh√¥ng t√¨m th·∫•y key (v√¨ key "Sales Executive" kh√¥ng c√≥)

[15000000, 20000000]
[30000000, 33000000]
Kh√¥ng t√¨m th·∫•y key

In [88]:
print(job_dictionary['Sales Executive'])

KeyError: 'Sales Executive'

In [89]:
print(job_dictionary.get('Sales Executive'))

None

## C·∫≠p nh·∫≠t/ Th√™m m·ªõi gi√° tr·ªã

In [90]:
# C·∫≠p nh·∫≠t/ Th√™m m·ªõi gi√° tr·ªã

job_dictionary['Financial Analyst'] = [18000000, 22000000]
print(job_dictionary)

job_dictionary['Sales Executive'] = [20000000,25000000]
print(job_dictionary)

{'Bank Teller': [12000000, 15000000], 'Financial Analyst': [18000000, 22000000], 'Investment Banker': [20000000, 26000000], 'Risk Manager': [30000000, 33000000], 'Credit Analyst': [15000000, 18000000]}
{'Bank Teller': [12000000, 15000000], 'Financial Analyst': [18000000, 22000000], 'Investment Banker': [20000000, 26000000], 'Risk Manager': [30000000, 33000000], 'Credit Analyst': [15000000, 18000000], 'Sales Executive': [20000000, 25000000]}

## Ph∆∞∆°ng th·ª©c chung

### len

In [91]:
job_dictionary

{'Bank Teller': [12000000, 15000000],
 'Financial Analyst': [18000000, 22000000],
 'Investment Banker': [20000000, 26000000],
 'Risk Manager': [30000000, 33000000],
 'Credit Analyst': [15000000, 18000000],
 'Sales Executive': [20000000, 25000000]}

In [67]:
# Ph∆∞∆°ng th·ª©c chung (len) - s·ªë l∆∞·ª£ng ph·∫ßn t·ª≠ trong dictionary
number_of_jobs = len(job_dictionary)
print(f"S·ªë l∆∞·ª£ng c√¥ng vi·ªác: {number_of_jobs}")

S·ªë l∆∞·ª£ng c√¥ng vi·ªác: 6

## Ph∆∞∆°ng th·ª©c cho Dictionary

In [92]:
job_dictionary.keys()

dict_keys(['Bank Teller', 'Financial Analyst', 'Investment Banker', 'Risk Manager', 'Credit Analyst', 'Sales Executive'])

In [93]:
lst = [job for job in job_dictionary.keys()]
print(lst)

['Bank Teller', 'Financial Analyst', 'Investment Banker', 'Risk Manager', 'Credit Analyst', 'Sales Executive']

### keys

In [94]:
job_dictionary.keys()

dict_keys(['Bank Teller', 'Financial Analyst', 'Investment Banker', 'Risk Manager', 'Credit Analyst', 'Sales Executive'])

In [95]:
# Tr·∫£ v·ªÅ danh s√°ch c√°c key c·ªßa dictionary 
for JobName in job_dictionary.keys():
    print(JobName)

Bank Teller
Financial Analyst
Investment Banker
Risk Manager
Credit Analyst
Sales Executive

In [96]:
job_dictionary.values()

dict_values([[12000000, 15000000], [18000000, 22000000], [20000000, 26000000], [30000000, 33000000], [15000000, 18000000], [20000000, 25000000]])

### values

In [98]:
# Tr·∫£ v·ªÅ danh s√°ch c√°c value c·ªßa dictionary. 
for salary in job_dictionary.values():
    print(salary)

[12000000, 15000000]
[18000000, 22000000]
[20000000, 26000000]
[30000000, 33000000]
[15000000, 18000000]
[20000000, 25000000]

### update

In [99]:
job_dictionary

{'Bank Teller': [12000000, 15000000],
 'Financial Analyst': [18000000, 22000000],
 'Investment Banker': [20000000, 26000000],
 'Risk Manager': [30000000, 33000000],
 'Credit Analyst': [15000000, 18000000],
 'Sales Executive': [20000000, 25000000]}

In [100]:
# N·ªëi new_job_list v√†o job_dictionary 
new_job_dict = {
    'Content Strategist': [13000000, 17000000],
    'Digital Marketing Specialist': [17000000, 20000000],
}
job_dictionary.update(new_job_dict)
print(job_dictionary)

{'Bank Teller': [12000000, 15000000], 'Financial Analyst': [18000000, 22000000], 'Investment Banker': [20000000, 26000000], 'Risk Manager': [30000000, 33000000], 'Credit Analyst': [15000000, 18000000], 'Sales Executive': [20000000, 25000000], 'Content Strategist': [13000000, 17000000], 'Digital Marketing Specialist': [17000000, 20000000]}

### items

In [101]:
job_dictionary.items()

dict_items([('Bank Teller', [12000000, 15000000]), ('Financial Analyst', [18000000, 22000000]), ('Investment Banker', [20000000, 26000000]), ('Risk Manager', [30000000, 33000000]), ('Credit Analyst', [15000000, 18000000]), ('Sales Executive', [20000000, 25000000]), ('Content Strategist', [13000000, 17000000]), ('Digital Marketing Specialist', [17000000, 20000000])])

In [102]:
# Tr·∫£ v·ªÅ danh s√°ch c√°c b·ªô (key, value) c·ªßa dictionary. 
for jobName, salary in job_dictionary.items():
    print(f"{jobName} -> {salary}")

Bank Teller -> [12000000, 15000000]
Financial Analyst -> [18000000, 22000000]
Investment Banker -> [20000000, 26000000]
Risk Manager -> [30000000, 33000000]
Credit Analyst -> [15000000, 18000000]
Sales Executive -> [20000000, 25000000]
Content Strategist -> [13000000, 17000000]
Digital Marketing Specialist -> [17000000, 20000000]

### setdefault

In [103]:
# Tr·∫£ v·ªÅ gi√° tr·ªã value thu·ªôc key, nh∆∞ng s·∫Ω tr·∫£ v·ªÅ gi√° tr·ªã c·ªßa default n·∫øu key kh√¥ng t·ªìn t·∫°i trong dictionary, ƒë·ªìng th·ªùi th√™m gi√° tr·ªã key ‚Äì value c·ªßa default v√†o dictionary m·ªôt c√°ch t·ª± ƒë·ªông.

print("M·ª©c l∆∞∆°ng Investment Banker l√†: ", 
      job_dictionary.setdefault('Investment Banker', None))
print("M·ª©c l∆∞∆°ng Software Engineer l√†: ", 
      job_dictionary.setdefault("Software Engineer", "No Info"))
# Software Engineer ƒë∆∞·ª£c t·ª± ƒë·ªông th√™m v√†o job_dictionary
print(job_dictionary)

M·ª©c l∆∞∆°ng Investment Banker l√†:  [20000000, 26000000]
M·ª©c l∆∞∆°ng Software Engineer l√†:  No Info
{'Bank Teller': [12000000, 15000000], 'Financial Analyst': [18000000, 22000000], 'Investment Banker': [20000000, 26000000], 'Risk Manager': [30000000, 33000000], 'Credit Analyst': [15000000, 18000000], 'Sales Executive': [20000000, 25000000], 'Content Strategist': [13000000, 17000000], 'Digital Marketing Specialist': [17000000, 20000000], 'Software Engineer': 'No Info'}

### pop

In [104]:
# Xo√° ph·∫ßn t·ª≠ d·ª±a tr√™n key ch·ªâ ƒë·ªãnh 
job_dictionary.pop("Software Engineer")
print(job_dictionary)

{'Bank Teller': [12000000, 15000000], 'Financial Analyst': [18000000, 22000000], 'Investment Banker': [20000000, 26000000], 'Risk Manager': [30000000, 33000000], 'Credit Analyst': [15000000, 18000000], 'Sales Executive': [20000000, 25000000], 'Content Strategist': [13000000, 17000000], 'Digital Marketing Specialist': [17000000, 20000000]}

#### del

In [105]:
# X√≥a ph·∫ßn t·ª≠ v·ªõi del 
del job_dictionary['Financial Analyst']
print(job_dictionary)

{'Bank Teller': [12000000, 15000000], 'Investment Banker': [20000000, 26000000], 'Risk Manager': [30000000, 33000000], 'Credit Analyst': [15000000, 18000000], 'Sales Executive': [20000000, 25000000], 'Content Strategist': [13000000, 17000000], 'Digital Marketing Specialist': [17000000, 20000000]}

### popitem

In [106]:
# X√≥a ph·∫ßn t·ª≠ cu·ªëi c√πng ƒë∆∞·ª£c th√™m v√†o dictionary 
job_dictionary.popitem()
print(job_dictionary)

{'Bank Teller': [12000000, 15000000], 'Investment Banker': [20000000, 26000000], 'Risk Manager': [30000000, 33000000], 'Credit Analyst': [15000000, 18000000], 'Sales Executive': [20000000, 25000000], 'Content Strategist': [13000000, 17000000]}

### clear

In [107]:
# X√≥a t·∫•t c·∫£ c√°c ph·∫ßn t·ª≠ kh·ªèi dictionary
job_dictionary.clear()
print(job_dictionary)

{}

### Dictionary Comprehension

In [108]:
# T·∫°o Dictionary t·ª´ List
numbers = [1, 2, 3, 4]
squares = {num: num ** 2 for num in numbers}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16}

In [110]:
# L·ªçc ph·∫ßn t·ª≠ trong Dictionary 
original = {"a": 10, "b": 20, "c": 30}
filtered = {k: v for k, v in original.items() if v > 15}
print(filtered)

{'b': 20, 'c': 30}

### L·ªìng Dictionary (Nested Dictionary)

In [112]:
students = {
    "student1": {"name": "John", "age": 20},
    "student2": {"name": "Alice", "age": 22}
}
print(students["student1"])
print(students["student1"]["name"])  # John

{'name': 'John', 'age': 20}
John

### Chuy·ªÉn ƒë·ªïi gi·ªØa Dictionary v√† c√°c ki·ªÉu d·ªØ li·ªáu kh√°c

In [174]:
# Chuy·ªÉn list th√†nh dictionary
keys = ["name", "age", "city"]
values = ["Alice", 25, "London"]
person = dict(zip(keys, values))
print(person)

{'name': 'Alice', 'age': 25, 'city': 'London'}

In [115]:
# Chuy·ªÉn dictionary th√†nh list 
data = {"name": "John", "age": 20}
keys_list = list(data.keys())  # ['name', 'age']
values_list = list(data.values())  # ['John', 20]
items_list = list(data.items())  # [('name', 'John'), ('age', 20)]
print(keys_list)
print(values_list)
print(items_list)

['name', 'age']
['John', 20]
[('name', 'John'), ('age', 20)]

In [ ]:
data.keys()

### So s√°nh Dictionary v·ªõi List

| ƒê·∫∑c ƒëi·ªÉm     | Dictionary (`dict`)  | List (`list`) |
|-------------|----------------------|--------------|
| C·∫•u tr√∫c    | T·∫≠p h·ª£p c√°c c·∫∑p `key-value` | T·∫≠p h·ª£p c√°c gi√° tr·ªã (elements) |
| Truy c·∫≠p    | D·ª±a v√†o `key`         | D·ª±a v√†o ch·ªâ m·ª•c (`index`) |
| D·ªØ li·ªáu     | Kh√¥ng c√≥ th·ª© t·ª± (tr∆∞·ªõc Python 3.7), c√≥ th·ª© t·ª± t·ª´ Python 3.7+ | C√≥ th·ª© t·ª± |

In [113]:

# List
lst = ['apple', 'banana', 'cherry']
print(lst[1])  # Output: banana

# Dictionary
dct = {'fruit1': 'apple', 'fruit2': 'banana', 'fruit3': 'cherry'}
print(dct['fruit2'])  # Output: banana

banana
banana